
$main_font: 'Roboto', sans-serif;
$main_fs:13px;
$main_color:#333;

$pale_color:#828282;
$add_color:#2085E4;
$add_color_2:#27AE60;
$add_color_3:#429499;
$aside_bg:#586B7D;

$aside_width:320px;
/*$aside_margin:calc($aside_width + 50px);*/


$screen_xs:576px;
$screen_sm:768px;
$screen_lg:1200px;
$add_color:#1a82ff;
$selected_color:#d91667;
$disabled_color:#b3b3b3;
$pale_color:#666;
$item_width:320px;
$item_margin:15px;
$card_weight_d:80px;

