.credit-offers {
	display:flex;
	align-self:flex-start;
}
.credit-offers__banks {
	flex:0 0 37%;
}
.credit-offers__approval {
	margin-left:30px;
}
.credit-offers__num-span {
		font-size:64px;
		display:block;
		&_color {
			color:#89DD64;
		}
}