.star-rating_1 span:nth-child(-n+1) svg path {
	fill:$add_color_2;
}
.star-rating_2 span:nth-child(-n+2) svg path {
	fill:$add_color_2;
}
.star-rating_3 span:nth-child(-n+3) svg path {
	fill:$add_color_2;
}
.star-rating_4 span:nth-child(-n+4) svg path {
	fill:$add_color_2;
}
.star-rating_5 span:nth-child(-n+5) svg path {
	fill:$add_color_2;
}